@media screen and (max-width: 1400px) {
    main {
        place-content: unset;
        justify-items: center;
    }
    #container {
        flex-direction: column;
        height: 100%;
        padding: 30px;
    }
    #separator {
        height: 2px;
        width: 50%;
    }
    #message-container {
        text-align: center;
        width: 100%;
        max-width: 650px;
    }
    form {
        max-width: 450px;
        width: 100%;
    }
    .input-section {
        width: 100%;
    }
    #name-section input {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
    }
    #container {
        background-color: transparent;
    }
}